body{
  background-image: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
footer {
  background-color: #D0DAEE;
  margin-top: auto;
}
#contactForm{
  padding-top: 1rem;
  max-width:max-content;
  margin:auto;
}
.navbar{
  background-color:#D0DAEE ;

}
footer p {
  text-align: center;
  margin: 0.75rem;
}
.viewcontact{
  text-align: center;
  color: blueviolet;
  margin-bottom: 20px;
  margin-top:25px;
}
.addcontact{
  text-align: center;
  color: blueviolet;
  margin-top:25px;
  margin:auto;
}